* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
  }
header {  
    text-align: center;
    text-shadow: 1px 1px 4px black;
    background-image: url("../images/viny2.jpg");
    background-size: 100%;
    background-position: center;
}

header > h1{
    color: cyan;
    font-size: 3em;
    font-weight: bold;
    padding: 15px 15px 0 15px;
}

.head-link{
    border:rgba(0, 0, 0, .1);
}

.navBar {
    padding: 0 15px 10px 10px;
    font-size: 1.2em;
    text-decoration: none;
    text-shadow: 1px 1px 0px black;
}

.navBar li{
    border-style: solid;
    border-color: cyan;
    background: cyan;
    border-radius: 8px;
    display: inline-block;
    margin-top: 5px;
}

fieldset{
    margin: 10px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
}

legend{
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid black;
}

img {
    margin: 1em 0;
    border: 1px solid black;
    box-shadow: 1px 2px 3px;
    opacity: 0.8;
}
#searchBtn {
    margin: 10px;
    border-radius: 10px;
}

#searchBtn:hover {
    color: blue;
    background-color: aliceblue;
}
.pure-button-primary{
    border-radius: 8px;
}
.pure-button-primary:hover {
    cursor: pointer;
    transition: transform 25ms;
    transform: scale(1.03);
}
label {
    padding: 2px;
}

input {
    box-shadow: 1px 1px 1px black;
}

#lyricsContainer {
    text-align: center;
    margin-left: 50%;
}

li {
    list-style: none;
    padding: 2px;
}

.urlLink {
    margin: 1em;
}

.urlLink:hover {
    font-weight: bold;
    font-size: 1.2em;
}

footer {
    color: cyan;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-weight: bold;
    padding: 2em;
    background-image: url("../images/stage.jpg");
    background-size: 100%;
    background-position: center;
}

.pure-menu-link {
    color: #000;
}

.pure-menu-link:hover {
    font-weight: bold;
}

.button-secondary {
    background: rgb(66, 184, 221);
    color: white;
    margin: 10px;
}

.search-history {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}