* {
    box-sizing: border-box;
}

header {
    color: cyan;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    padding: 25px;
    /* background: radial-gradient(blue, teal);
    box-shadow: 3px 0 5px black; */
    background-image: url("../images/stage.jpg");
    background-size: 100%;
    background-position: center;
}

fieldset{
    margin: 10px;
    background-color: rgba(0, 0, 0, .1);
}

legend{
    font-size: 1.2em;
    font-weight: bold;
}

img {
    margin: 1em 0;
    border: 1px solid black;
    box-shadow: 1px 2px 3px;
    opacity: 0.8;
}
#searchBtn {
    margin: 10px;
    border-radius: 4px;
}

#searchBtn:hover {
    color: blue;
    background-color: aliceblue;
}

label {
    padding: 2px;
}

input {
    box-shadow: 1px 1px 1px black;
}

#lyricContainer {
    text-align: center;
}

li {
    list-style: none;
    padding: 2px;
}